Meta
doc
*.o
*.a
*.exe
*.zip
/zia06896
/src/*.dll
/src/*.o
inst/doc
/vignettes/RxODE-intro.md
/inst/Install-windows.md
/.Rhistory
/R/.Rhistory
/src/.Rhistory
/config.status
/config.log
/src/Makevars
/src/Makevars.win
/src/liblsoda/
/vignettes/.RData
/vignettes/.Rhistory
*.gch
*.gcno
/src/Makevars.r-stripper.bak
/vignettes/*_files/
/vignettes/*.html
.Rproj.user
/inst/tutorials/syntax/RxODE-model-syntax.html
/inst/tutorials/events/.Rhistory
/tests/testthat/.Rhistory
/inst/.Rhistory
/src/RxODE.so
/R/RxODE_md5.R
/.github/workflows/.Rhistory
docs/
.RData
/src/ode.h
/src/codegen2.h
/RxODE.Rproj
