*.o
*.a
*.exe
*.zip
/zia06896
/src/*.dll
/src/*.o
inst/doc
/vignettes/RxODE-intro.md
/inst/Install-windows.md
/.Rhistory
/R/.Rhistory
/src/.Rhistory
/config.status
/config.log
/src/Makevars
/src/Makevars.win
/src/liblsoda/
/vignettes/.RData
/vignettes/.Rhistory
/vignettes/.build.timestamp
/vignettes/RxODE-covariates.R
/vignettes/RxODE-covariates.html
/vignettes/RxODE-covariates.md
/vignettes/RxODE-data-frame.R
/vignettes/RxODE-data-frame.html
/vignettes/RxODE-data-frame.md
/vignettes/RxODE-events.R
/vignettes/RxODE-events.html
/vignettes/RxODE-events.md
/vignettes/RxODE-intro.R
/vignettes/RxODE-intro.html
/vignettes/RxODE-mix-lin-ode.R
/vignettes/RxODE-mix-lin-ode.html
/vignettes/RxODE-mix-lin-ode.md
/vignettes/RxODE-shiny.R
/vignettes/RxODE-shiny.html
/vignettes/RxODE-shiny.md
/vignettes/RxODE-sim-var.R
/vignettes/figure/*
