Meta
doc
*.o
*.a
*.exe
*.zip
/zia06896
/src/*.dll
/src/*.o
inst/doc
/vignettes/RxODE-intro.md
/inst/Install-windows.md
/.Rhistory
/R/.Rhistory
/src/.Rhistory
/config.status
/config.log
/src/Makevars
/src/Makevars.win
/src/liblsoda/
/vignettes/.RData
/vignettes/.Rhistory
*.gch
*.gcno
/src/Makevars.r-stripper.bak
/vignettes/*_files/

